@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: #ffffff9a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%; 
    background-image: url('../imagenes/352993-admin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.nav {
    width: 100%;
    height: 60px;
    position: fixed;
    line-height: 76px;
    text-align: center;
 
}

.nav div.logo {
    float: left;
    width: 10px;
    height: 10px;
    padding-left: 7rem;
}

.nav div.logo a {
    text-decoration:dashed;
    color: #000000;
    font-size: 2.5rem;
}



.nav div.main_list {
    height: 95px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 100px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10;
}

.nav div.main_list ul li {
    width: auto;
    height: 10px;
    padding: 10px;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #ffffff;
    line-height: 10px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #1f8805;
}


.home {
    width: 100%;
    height: 100vh;
    background-image: url("/imagenes/352993-admin.jpg"); 
    background-position: center top;
    background-size: cover;
}


.navTrigger {
    display: none;
}

.nav {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 10px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000000;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}



.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}



.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding:0 ;
    background-color: #000000;
}

.myH2 {
    text-align: center;
    font-size: 4rem;
}
.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}
@media all and (max-width:700px){
    .myP {
        padding: 2%;
    }
}
.logo {
    position: fixed;
    top: 20px;
    left: 1px;
    height: 1px; 
}








button:hover {
    background-color: #267c04;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.buttons button {
    width: 48%;
}
.notifications-link {
    position: fixed; 
    bottom: 10px;
    right: 10px;
    background-color: #058a10;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.notifications-link:hover {
    background-color: #216806;
}

.contact-form {
    margin-top: 80px; 
    padding: 40px 100px; 
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffffcc; 
    box-shadow: 0px 0px 50px 0px rgb(10, 13, 11);
    border-radius: 50px;
}

.contact-form h1 {
    text-align: center;
    color: #000000;
    font-size: 4rem; 
    margin-bottom: 20px;
    font-family: sans-serif
}

.contact-form label {
    display: block;
    margin-top: 20px;
    color: #000000;
    font-size: 3rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2rem; 
    font-family: sans-serif;
}

.contact-form textarea {
    resize: vertical; 
}

.contact-form button {
    width: 530px;
    padding: 20px;
    background-color: #258002; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.9rem; 
    transition: background-color 0.3s ease;
    font-family: sans-serif;
}

.contact-form button:hover {
    background-color: #21a706; 
}

.contact-form .success-message {
    margin-top: 20px;
    padding: 20px;
    background-color: #d4edda; 
    border-radius: 5px;
    color: #155724; 
    font-size: 1.8rem;
}

.contact-form .error-message {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    color: #000000; 
    font-size: 1.8rem;
}

